body.appraisal {
  background: #fff;
}
.appraisal #menu {
  padding-bottom: 0.5em;
}
.appraisal .select_nav {
  padding: 0 0 0.5em 0;
  background: #f2f2f2;
}
.appraisal .select_nav li {
  background: #fff;
}
.appraisal .select_nav li a {
  padding: 1.25em 0 0.5em 0;
}
.appraisal .select_nav li span {
  display: inline;
  line-height: 1em;
  font-size: 1.35em;
}
.appraisal .select_nav li strong {
  display: block;
  width: 99%;
  color: #70808c;
  font-size: 0.85em;
  font-weight: normal;
  line-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.appraisal .index_title {
  width: 100%;
  padding: 0;
}
.appraisal .index_title del {
  margin-left: 0;
  border-radius: 0;
}
.appraisal .index_title strong {
  font-size: 1.1em;
  font-weight: normal;
}
.appraisal .index_list li {
  padding: 0 3%;
  margin: 0;
}
.appraisal .index_list li dl {
  width: 52%;
}
.appraisal .index_list li q {
  display: block;
  float: right;
  margin: 2em 0;
}
.appraisal .analyze q {
  display: block;
  margin: 4em auto 0 auto;
}
.appraisal .index_list li q i, .appraisal .analyze q i {
  font-size: 1.2em;
  color: #ccc;
}
.appraisal .index_list li q i.checked, .appraisal .analyze q i.checked {
  color: #f4c606;
}
.appraisal .index_list li q span {
  font-weight: normal;
  color: #333;
}
.appraisal .index_list li.rank_list {
  height: 2.5em;
  line-height: 2.5em;
  color: #333;
}
.appraisal .rank li div, .appraisal .rank li img {
  border-radius: 3.5em;
}
.appraisal .rank li s {
  display: block;
  float: left;
  margin: 2.25em 0.5em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
  background: #fff;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.appraisal .rank li s.a {
  background: #f36e14;
  color: #fff;
}
.appraisal .rank li s.b {
  background: #f99100;
  color: #fff;
}
.appraisal .rank li s.c {
  background: #f9c127;
  color: #fff;
}
.appraisal .rank li q {
  width: 25%;
}
.appraisal .rank li dl {
  width: 32%;
}
.appraisal .index_list li time {
  float: right;
  display: block;
  width: 20%;
  margin: 2.5em 0;
  font-size: 0.8em;
  color: #666;
  text-align: right;
}
.appraisal .index_list li span {
  float: left;
  display: block;
  width: 79%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.appraisal .index_list li s.test_ico {
  float: left;
  display: block;
  width: 19%;
  height: 1.5em;
  line-height: 1.5em;
  border: 1px solid #09f;
  border-radius: 0.35em;
  font-size: 0.7em;
  color: #09f;
  text-align: center;
  text-decoration: none;
}
.appraisal .history li {
  padding: 0 3%;
  margin: 0;
}
.appraisal .history li span {
  width: 70%;
}
.appraisal .history li time {
  float: right;
  display: block;
  width: 20%;
  font-size: 0.8em;
  color: #666;
  text-align: right;
}
.appraisal .but_b, .appraisal .but_l, .appraisal .but_r {
  position: fixed;
  z-index: 3;
  height: 3em;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
}
.appraisal .but_b {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #09f;
  color: #fff;
}
.appraisal .but_l {
  left: 0;
  bottom: 0;
  width: 50%;
  background: #ddd;
  color: #333;
}
.appraisal .but_r {
  right: 0;
  bottom: 0;
  width: 50%;
  background: #09f;
  color: #fff;
}
.appraisal .topic {
  height: auto!important;
  height: 28em;
  min-height: 28em;
  margin-bottom: 4em;
  position: relative;
}
.appraisal .topic em {
  color: #ff9600;
}
.appraisal .topic .tit {
  width: 100%;
  height: 3em;
  background: #f9f9f9;
  border-bottom: solid 1px #ccc;
  color: #666;
}
.appraisal .topic .tit i {
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.appraisal .topic .tit span {
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3em;
}
.appraisal .topic .catalog {
  width: 94%;
  height: 2em;
  line-height: 2em;
  padding: 0 3%;
  font-weight: lighter;
  color: #999;
  background: #f9f9f9;
}
.appraisal .topic .catalog strong {
  display: block;
  float: left;
  width: 15%;
  font-weight: lighter;
  text-align: left;
}
.appraisal .topic .catalog span {
  margin-left: -2em;
}
.appraisal .topic .catalog a {
  float: right;
  display: block;
  height: 2em;
  line-height: 2em;
  padding: 0 0.8em;
  font-size: 0.8em;
  background: #fff;
  color: #09f;
  border: 1px solid #09f;
  border-radius: 5px;
}
.appraisal .topic .title {
  display: block;
  margin-top: 1em;
  width: 94%;
  line-height: 1.5em;
  padding: 0 3%;
  color: #333;
  text-align: left;
}
.appraisal .topic .title s {
  display: block;
  float: left;
  text-decoration: none;
  padding: 0 10px;
  font-size: 0.8em;
  margin-right: 0.5em;
  border-radius: 20px;
  background: #ddd;
}
.appraisal .topic .test_img {
  width: 94%;
  padding: 0 3%;
  margin: 1em auto;
}
.appraisal .topic audio {
  border: 1px solid #5d96f5;
  margin: 1em 0;
}
.appraisal .topic dl {
  width: 100%;
  color: #4e4e4e;
}
.appraisal .topic dd {
  display: block;
  width: 75%;
  padding: 0 15% 0 10%;
  height: auto!important;
  height: 3em;
  min-height: 3em;
  line-height: 3em;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}
.appraisal .topic dd a {
  display: block;
  width: 15%;
  height: 133%;
  margin-top: -1em;
  background: url(../img/erya_ico_06.png) no-repeat center center;
  background-size: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.appraisal .plural dd a {
  background: url(../img/erya_ico_11.png) no-repeat center center !important;
  background-size: 50% !important;
}
.appraisal .topic dd p {
  line-height: 2em;
  margin: 1em auto;
}
.appraisal .topic li, .appraisal .book_list li {
  position: relative;
}
.appraisal .book_list li {
  padding: 0 3%;
  margin: 0;
}
.appraisal .topic dd a.current {
  background: url(../img/erya_ico_05.png) no-repeat center center;
  background-size: 50%;
}
.appraisal .plural dd a.current {
  background: url(../img/erya_ico_10.png) no-repeat center center !important;
  background-size: 50% !important;
}
.appraisal .topic dd span {
  display: block;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.appraisal .icon-appraisal_10, .appraisal .icon-appraisal_11 {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background: rgba(240, 240, 240, .9);
  border-radius: 2em;
  text-align: center;
}
.appraisal .icon-appraisal_10 {
  color: #03dc44;
}
.appraisal .icon-appraisal_11 {
  color: #ff1200;
}
.appraisal .topic .result {
  width: 94%;
  line-height: 2em;
  padding: 1em 3%;
  font-size: 0.9em;
  color: #666;
  text-align: left;
}
.appraisal .topic .result h1 {
  line-height: 2em;
  font-size: 1.2em;
  font-weight: normal;
  color: #333;
}
.appraisal .topic .result span {
  margin-right: 1.5em;
}
.appraisal .topic textarea {
  width: 94%;
  height: 27em;
  line-height: 1.5em;
  margin: 1em 3%;
  font-size: 0.9em;
  border: 0;
  outline: none;
}
.appraisal .topic input[type=text] {
  width: 90%;
  height: 3em;
  margin: 1em 3%;
  padding: 0 2%;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
.appraisal .topic .examine {
  width: 94%;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 3%;
  border-bottom: 1px solid #dfdfdf;
  color: #999;
}
.appraisal .topic .examine i {
  float: left;
  margin: 1em 0.2em;
  font-size: 1.2em;
  color: #09f;
}
.appraisal .topic .examine strong {
  display: block;
  float: left;
  width: 25%;
  font-weight: normal;
  text-align: left;
  color: #333;
}
.appraisal .topic .examine span {
  float: right;
  font-size: 0.9em;
}
.appraisal .topic .check {
  width: 84%;
  line-height: 2em;
  margin: 1em 3%;
  padding: 1em 5%;
  font-size: 0.9em;
  border-radius: 8px;
  color: #333;
  background: #f4f4f4;
  text-align: left;
}
.appraisal .topic .check strong {
  display: block;
  width: 100%;
  line-height: 1.5em;
  text-align: center;
  text-indent: -1em;
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 0.5em;
}
.appraisal .topic .check img {
  display: run-in;
  width: 1em;
  height: 1em;
}
.appraisal .topic .check p {
  font-size: 0.8em;
  line-height: 1.7em;
  margin-top: 1em;
}
.appraisal .analyze {
  position: relative;
  height: 12em;
}
.appraisal .analyze .img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  -webkit-filter: blur(2px);
}
.appraisal .analyze .an {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  width: 60%;
  height: auto!important;
  height: 6em;
  min-height: 6em;
  margin: 2.5em 0 0 -30%;
  background: #fff;
  border-radius: 6px;
}
.appraisal .analyze .ico {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 4;
  width: 6em;
  height: 6em;
  margin: 0.5em 0 0 -3em;
  background: #fff;
  border-radius: 6em;
}
.appraisal .analyze .ico span {
  display: inline;
  line-height: 1.4em;
  font-size: 1.8em;
}
.appraisal .analyze .ico p {
  font-size: 1.4em;
  line-height: 0.5em;
}
.appraisal .analyze .an a {
  display: block;
  margin: 0.5em auto 1em auto;
  height: 1.5em;
  color: #666;
}
.appraisal .empty {
  width: 100%;
  height: 60%;
  background-image: url(../img/erya_img_24.png);
  background-repeat: no-repeat;
  background-position: center 6em;
  background-size: 70%;
}
.appraisal .empty_text {
  display: block;
  width: 100%;
  color: #9b9b9b;
}

/*最新改版*/

.revision #menu .search {
  float: left;
  width: 73%;
  background: #fff;
}
.revision #menu .category {
  float: left;
  width: 18%;
  background: #fff;
  padding: 0.5em 3% 0.5em 0;
}
.revision #menu .search a, .revision #menu .category a {
  border: 0;
  background: #f3f3f3;
}
.revision #menu .category a {
  width: 77%;
  padding: 0 3% 0 20%;
}
.revision #menu .search i {
  left: 34%;
}
.revision #menu .category i {
  left: 81%;
}
.user_nav {
  width: 94%;
  padding: 0 3% 0.5em 3%;
}
.user_nav li {
  float: left;
  width: 59%;
  line-height: 1.7em;
  color: #ffba00;
  text-align: left;
  font-size: 0.9em;
}
.user_nav li img.pic {
  float: left;
  width: 4.7em;
  height: 4.7em;
  margin: 0.3em 0.3em 0 0;
  border-radius: 50%;
  border: 2px solid #dedede !important;
}
.user_nav li strong {
  display: block;
  margin-top: 0.3em;
  font-size: 1.1em;
  color: #343434;
}
.user_nav li span {
  display: block;
  font-size: 0.8em;
  color: #575757;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user_nav li span s {
  display: inline-block;
  width: 40%;
  text-indent: 16%;
  text-decoration: none;
  font-size: 0.8em;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%;
}
.user_nav li span s.lv1 {
  background-image: url(../img/icon_lv1.png);
}
.user_nav li span s.lv2 {
  background-image: url(../img/icon_lv2.png);
}
.user_nav li span s.lv3 {
  background-image: url(../img/icon_lv3.png);
}
.user_nav li span s.lv4 {
  background-image: url(../img/icon_lv4.png);
}
.user_nav li span s.lv5 {
  background-image: url(../img/icon_lv5.png);
}
.user_nav li span s.lv6 {
  background-image: url(../img/icon_lv6.png);
}
.user_nav li p img {
  width: 7%;
}
.user_nav li.icon {
  width: 20%;
  margin-top: 1em;
  color: #575757;
  text-align: center;
  border-left: 1px solid #eee;
}
.user_nav li.icon a {
  display: block;
  width: 100%;
  height: 100%;
}
.user_nav li.icon i {
  font-size: 1.6em;
  color: #575757;
}
.user_nav li.icon span {
  display: block;
  width: 100%;
}
.division {
  width: 100%;
  height: 0.5em;
  background: #f8f8f8;
  border: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.revision .index_title {
  height: 3em;
}
.revision .index_title strong {
  margin-left: 5%;
  width: 95%;
  line-height: 1.5em;
}
.revision .index_title span {
  display: block;
  margin-left: 5%;
  width: 95%;
  line-height: 1em;
  float: left;
  color: #989898;
  text-align: left;
  font-size: 0.9em;
}

/*.revision .index_list li dl {
  width: 70% !important;
}*/


/* 弹窗 */

.revision #popBg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99998;
  background: rgba(0, 0, 0, .55);
}
.revision #popNav, .erya #userpopNav {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  background: #fff;
  border-radius: 16px;
  width: 80%;
  height: 18em;
  margin: -9em 0 0 -40%;
  color: #333;
}
.revision #popNav h2 {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3em;
  margin-bottom: 1em;
}
.revision #popNav h2 i {
  position: absolute;
  right: 0.5em;
  top: 1.5em;
  color: #cbcbcb;
  font-weight: bold;
  background: none;
}
.revision #popNav h2 .img {
  position: absolute;
  top: -4.5em;
  left: 50%;
  width: 60%;
  height: 8em;
  margin-left: -30%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.revision #popNav.state-1 h2 .img {
  background-image: url(../img/img_03.png);
}
.revision #popNav.state-2 h2 .img {
  background-image: url(../img/img_02.png);
}
.revision #popNav.state-3 h2 .img {
  background-image: url(../img/img_01.png);
}
.revision #popNav strong {
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: normal;
}
.revision #popNav.state-1 strong {
  color: #00ce70;
}
.revision #popNav.state-2 strong {
  color: #e96300;
}
.revision #popNav.state-3 strong {
  color: #0097ff;
}
.revision #popNav .list {
  width: 90%;
  height: 5em;
  padding: 0 5%;
  margin: 1em auto 1.5em auto;
}
.revision #popNav .list div {
  border-radius: 0.5em;
  float: left;
  margin: 0.5em 1em 0.5em 0;
  width: 4em;
  height: 4em;
  background-size: 4em 4em;
  background-image: url(../img/no_image_1.jpg);
  background-repeat: no-repeat;
}
.revision #popNav .list img {
  width: 4em;
  height: 4em;
  border-radius: 0.5em;
}
.revision #popNav .list dl {
  float: left;
  width: 65%;
  font-size: 1.1em;
  color: #999;
  text-align: left;
}
.revision #popNav .list dt {
  display: block;
  width: 95%;
  line-height: 2em;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.revision #popNav .list dd {
  display: block;
  width: 95%;
  font-size: 0.75em;
}
.revision #popNav a.result {
  display: block;
  width: 90%;
  margin: 0 5%;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.2em;
  background: #0097ff;
  border-radius: 5px;
  color: #fff;
}
.revision .result_nav .catalog, .revision.appraisal .topic .catalog {
  background: #fff;
  border-bottom: 1px solid #cdcdcd;
}
.revision.appraisal .topic .catalog strong {
  float: inherit;
  margin: 0 auto;
  color: #0097ff;
}
.revision.appraisal .topic .catalog strong em {
  color: #343434;
}
.revision .result_nav .menu_head .icon-icon_25, .revision .result_nav .menu_head .icon-icon_18 {
  position: absolute;
  left: 0.8em;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.revision .result_nav .menu_head .icon-icon_25 {
  color: #2bc71b;
}
.revision .result_nav .menu_head .icon-icon_18 {
  color: #ee4a4a;
}
.revision .index_list li p {
  width: 95%;
  font-size: 0.9em;
  line-height: 1.25em;
  margin-bottom: 0.25em;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.revision .index_list li div.pass, .revision .index_list li div.pass_n {
  float: right;
  display: block;
  margin: 0;
  width: 20%;
  height: 5em;
  line-height: 5em;
  font-size: 0.8em;
  font-weight: bold;
  color: #989898;
  text-align: right;
  background: none;
}
.revision .index_list li div.pass {
  color: #0097ff;
}
.revision .book_menu {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 0.8em;
  color: #787878;
  border-bottom: 1px solid #e0e0e0;
}
.revision .book_menu a {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  color: #4c4c4c;
  position: relative;
  background: #fff;
  z-index: 99999;
}
.revision .book_menu a s {
  text-decoration: none;
}
.revision .book_menu a.current, .revision .popList li.selected {
  color: #0097ff;
}
.revision .book_menu a:last-of-type {
  margin-left: -1px;
  border-left: 1px solid #e0e0e0;
}
.revision .book_menu a span {
  position: absolute;
  right: 22%;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 0.8em;
  color: #c4c4c4;
  transform: rotate(90deg);
}
.revision .book_menu a.current span {
  transform: rotate(-90deg);
}
.revision .popList {
  display: none;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  top: 3em;
  z-index: 99999;
  width: 200%;
  color: #505050;
}
.revision .book_menu a:first-of-type .popList {
  left: 0;
}
.revision .book_menu a:last-of-type .popList {
  right: 0;
}
.revision .popList li {
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: left;
  text-indent: 2em;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.revision .book_menu a .popList span, .revision .book_menu a.current .popList span {
  display: none;
  position: absolute;
  right: 10%;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 0.8em;
  color: #0097ff;
  transform: rotate(0deg);
}
.revision .book_menu a .popList li.selected span {
  display: block;
}
.revision .submit .submit_top {
  width: 100%;
  height: 18em;
  padding-top: 3em;
  background: #3ac5ff;
  border-bottom: 12px solid #f8f8f8;
}
.revision .pass .submit_top {
  background-image: url(../img/img_06.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.revision .analyze .submit_top {
  width: 100%;
  height: 8em;
  padding-top: 3em;
  background: #ecf7ff;
  border-bottom: 12px solid #f8f8f8;
  background-image: url(../img/img_07.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
.revision .submit .submit_top p {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 6em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  font-size: 2em;
  font-weight: bold;
  text-indent: 0.5em;
  color: #fc5419;
}
.revision .pass_n .submit_top p {
  line-height: 3.5em;
}
.revision .pass .submit_top p {
  line-height: 4.5em;
}
.revision .submit .submit_top p s {
  font-size: 0.4em;
  text-decoration: none;
}
.revision .submit .submit_top strong, .revision .submit .submit_top span, .revision .analyze .submit_top strong, .revision .analyze .submit_top span {
  display: block;
  width: 100%;
  color: #fff;
}
.revision .analyze .submit_top strong, .revision .analyze .submit_top span {
  color: #0097ff;
}
.revision .submit .submit_top strong {
  font-size: 1.2em;
  line-height: 2em;
}
.revision .analyze .submit_top strong {
  font-size: 1.7em;
  line-height: 2em;
}
.revision .pass_n .submit_top p {
  background-image: url(../img/img_04.png);
}
.revision .pass .submit_top p {
  background-image: url(../img/img_05.png);
}
.revision .chart {
  margin-bottom: 3em;
  width: 100%;
  height: auto !important;
  height: 26em;
  min-height: 26em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: relative;
}
.revision .chart #chartsRadar {
  width: 92%;
  height: 26em;
  margin: 0 auto;
}
.revision .chart a.view {
  display: block;
  width: 100%;
  color: #0097ff;
  position: absolute;
  top: 22em;
  left: 0;
  z-index: 2;
}
.revision .chart a i {
  display: inline-block;
  font-size: 1.5em;
}
.revision .chart a span {
  display: inline-block;
}
.revision .chart .tit {
  width: 100%;
}
.revision .chart .tit strong, .revision .chart .tit span {
  display: block;
  width: 100%;
  height: 2em;
}
.revision .chart .tit strong {
  line-height: 2.5em;
  font-size: 1.2em;
  font-weight: normal;
  color: #0097ff;
}
.revision .chart .tit span {
  line-height: 2em;
  font-size: 0.8em;
  color: #989898;
}
.revision .chart .data {
  width: 96%;
  margin: 0.5em 2%;
  position: relative;
  z-index: 2;
}
.revision .chart .data li {
  display: inline-table;
  width: 32%;
  height: auto;
  font-size: 0.7em;
  color: #343434;
}
.revision .chart .data li strong {
  font-size: 2em;
  font-weight: normal;
}
.revision .chart .data li i {
  font-size: 0.8em;
  color: #888;
}
.revision .chart .data li a {
  color: #343434;
}
.revision .chart .data span {
  display: inline-block;
  color: #989898;
}
.revision .chart .describe {
  margin: 0 3% 1em 3%;
  padding: 0.5em 3%;
  width: 88%;
  height: auto !important;
  height: 2em;
  min-height: 2em;
  line-height: 1.5em;
  font-size: 0.7em;
  color: #6b6b6b;
  background: #f5f9fe;
  text-align: left;
}
.revision .chart #chartsLine {
  width: 92%;
  height: 16em;
  margin: 1em auto 0 auto;
}
.revision .chart #chartsPiemini {
  width: 92%;
  height: 16em;
  margin: 0 auto;
}
.revision .chart #chartsBar {
  width: 92%;
  height: 20em;
  margin: 0 auto 2em auto;
}
.dopic dl {
  width: 90% !important;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  padding: 0 5% !important;
}
.dopic dd {
  width: 100% !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  position: relative;
}
.dopic dd img {
  width: 100% !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  border-radius: 8px;
}
.dopic dd a {
  width: 3em !important;
  height: 3em !important;
  position: absolute !important;
  z-index: 2 !important;
  left: -0.5em !important;
  top: 0.5em !important;
  bottom: auto !important;
  right: auto !important;
}
.support {
  width: 100%;
  height: 8em;
  line-height: 14em;
  color: #ddd;
}
