.result_nav {
  background: #fff;
}
.result_nav .catalog {
  width: 94%;
  height: 2em;
  line-height: 2em;
  padding: 0.5em 3%;
  font-size: 0.8em;
  color: #787878;
  background: #f3f3f3;
  border-bottom: 1px solid #ececec;
  text-align: left;
}
.result_nav .menu_list {
  position: absolute;
  display: block;
  width: 100%;
  height: auto!important;
  height: 10em;
  min-height: 10em;
  margin-bottom: 3em;
}
.result_nav .menu_head {
  position: relative;
  width: 90%;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 5%;
  border-bottom: 1px solid #ececec;
  background: #fff;
  font-weight: normal;
}
.result_nav .menu_head span:nth-child(2) {
  display: block;
  width: 92%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  text-indent: 2em;
}
.result_nav .menu_head span:nth-child(3) {
  position: absolute;
  right: 0.8em;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 0.8em;
  color: #c4c4c4;
  transform: rotate(90deg);
}
.result_nav .current span:nth-child(3) {
  transform: rotate(-90deg);
}
.result_nav .menu_head span {
  display: table-cell;
}
.result_nav .menu_head .icon-appraisal_10, .result_nav .menu_head .icon-appraisal_11 {
  position: absolute;
  left: 0.8em;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.result_nav .menu_head .icon-appraisal_10 {
  color: #1e93e1;
}
.result_nav .menu_head .icon-appraisal_11 {
  color: #ff5400;
}
.menu_body {
  padding: 0.5em 0;
  border-bottom: 1px solid #ececec;
  background: #fff;
}
.menu_body dl {
  margin: 0 auto;
  display: block;
  width: 80%;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #fbfbfb;
  color: #555;
}
.menu_body dd {
  display: block;
  width: 90%;
  height: 2em;
  line-height: 2em;
  padding: 0 5%;
  text-align: left;
  color: #191919;
}
.menu_body dd p {
  float: left;
  display: block;
  color: #666;
}
.menu_body p.b {
  color: #000;
}
.menu_body dd s {
  font-size: 0.8em;
  text-decoration: none;
  color: #34adff;
}
.menu_body dd s.result {
  color: #28c588;
}
.menu_body p {
  display: block;
  margin: 0.3em auto;
  width: 90%;
  line-height: 2em;
  padding: 0 5%;
  font-size: 0.8em;
  text-align: left;
}
.menu_body img {
  width: 80%;
  margin: 1em 10%;
}
.blue {
  background: #09f;
}
