@charset "UTF-8";

// 模块变量
@import "utils/config";
@import "utils/mixins";

// 基础模块
@import "base/reset";

// 公用组件
// @import "components/animation";
// @import "components/box-center";
// @import "components/buttons";
// @import "components/caret";
// @import "components/position";
@import "components/popup";
// @import "components/scott";
// @import "components/table";
// @import "components/step";
@import "components/gotop";
// @import "components/loading";

// 外部框架
// @import "vendors/calendar";

// 页面布局
@import "layout/images";

// 页面相关
@import "pages/home";
@import "pages/record";
@import "pages/test";

//通用样式
.default_nav {
  width: 100%;
  margin: 0 auto;
  @include clearfix;
}
