// 引导页
.guide_nav {
  div {
    background: url("../img/bg_01.png") no-repeat center center;
  }
}
// 成绩
.record_nav {
  .tit {
    background: url("../img/erya_img_15.png") repeat-x left top;
  }
}
.analyze_nav {
  background: url("../img/erya_img_14.png");
  .marks {
    background: url("../img/bg_03.png") no-repeat center $spacing-single;
  }
}
// 历史成绩
.history_nav {
  background: url("../img/erya_img_14.png");
}
