/// Button Sizes
/// @param {Number} $padding-vertical 垂直方向的`padding`
/// @param {Number} $padding-horizontal 水平方向的`padding`
/// @param {Number} $font-size 字号
/// @param {Number} $line-height 行高
/// @param {Number} $border-radius 圆角
/// @example
/// //SCSS
/// .btn{
/// 	@include button-size(5px,15px,16px,1.5,null);
///	}
/// //CSS
/// .btn {
///  	padding: 5px 15px;
///  	line-height: 1.5;
///	}
@mixin button-size($padding-vertical,$padding-horizontal,$font-size,$line-height,$border-radius) {
	padding: $padding-vertical $padding-horizontal;
	line-height: $line-height;
	border-radius: $border-radius;
	font-size: $font-size;
}
/// Button variants
/// @param {String} $color 文本颜色
/// @param {String} $background 背景颜色
/// @param {String} $border-color 边框颜色
/// @example
/// //SCSS
/// .btn {
///  	@include button-variant(#fff,#f36,#f36);
///	}
///	//CSS
///	.btn {
///		color: #fff;
///		background-color: #f36;
///		border-color: #f36;
///		transition: all .2s ease;
///	}
///	.btn:hover,
///	.btn:focus,
///	.btn:active {
///  	color: #fff;
///	  	background-color: #ff245b;
///  	border-color: #ff1a53;
///	}
///	.btn[disabled],
///	.btn[disabled]:hover,
///	.btn[disabled]:focus,
///	.btn[disabled]:active,
///	fieldset[disabled] .btn,
///	fieldset[disabled] .btn:hover,
///	fieldset[disabled] .btn:focus,
///	fieldset[disabled] .btn:active {
///	  	background-color: #f36;
///  	border-color: #f36;
///	}
@mixin button-variant($color,$background1,$background2,$border-color) {
	color: $color;
	background: $background2;
	background: -webkit-linear-gradient($background1, $background2);
	background: -o-linear-gradient($background1, $background2);
	background: -moz-linear-gradient($background1, $background2);
	background: -ms-linear-gradient($background1, $background2);
	background: linear-gradient($background1, $background2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#{$background1}',endColorstr='#{$background2}',grandientType=1);
	border-color: $border-color;
	border-width: 1px;
	border-style: solid;
	transition: all 0.2s ease;
	&:active,
	&:focus,
	&:hover {
		color: $color;
		background: darken($background2, 3%);
		border-color: darken($border-color, 5%);
	}
	&[disabled],
	fieldset[disabled] & {
		&,
		&:active,
		&:focus,
		&:hover {
			background: $background2;
			border-color: $border-color;
		}
	}
}
div.button {
	@include abs-pos(auto, auto, 0, 0, 99998, absolute);
	margin: 20px 0 20px 180px;
	a {
		@include button-size(2px,10px,18px,1.5,4px);
		margin-right: 20px;
		color: $color-primary;
		&.b1 {
			@include button-variant($white,#b3ea24,#87c210,#60a41f);
		}
		&.b2 {
			@include button-variant($white,#92e1f8,#5cb1e8,#2aa2c4);
		}
		&.b3 {
			@include button-variant($white,#fcbb3e,#f18f17,#c88316);
		}
		&.b4 {
			@include button-variant($green,$white,$white,$background-button);
			&:hover {
				@include button-variant($white,$background-button-hover,$background-button-hover,$green);
			}
		}
	}
}
