#top {
  @include abs-pos(auto, 1rem, 1rem, auto, 99997, fixed);
  border: solid 1px $gray;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 3em;
  font-size: $font-size-sm;
  color: #a0a0a0;
  background: $white;
  opacity: 0.8;
  text-align: center;
  i {
    font-size: $font-size-lg;
    margin: 0.5em;
    color: #4e4e4e;
  }
}
