#popBg {
  @include abs-pos(0, auto, auto, 0, 99998, absolute);
  display: none;
  width: 100%;
  height: 100%;
  background: rgba($black, .5);
}
#popNav {
  @include abs-pos(50%, auto, auto, 50%, 99999, fixed);
  display: none;
  background: #fff;
  border-radius: $spacing-single;
  width: 80%;
  height: $spacing-big * 4;
  margin: -($spacing-big * 2) 0 0 -40%;
  color: $gray-dark;
  h1 {
    @include dib;
    position: relative;
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    margin-bottom: $spacing-small;
    border-radius: $spacing-single $spacing-single 0 0;
    font-size: $font-size-lg;
    font-weight: normal;
    background: $purple url("../img/erya_img_04.png") repeat-x left bottom;
    background-size: 120%;
    img {
      @include abs-pos(-3rem, auto, auto, 50%, 99999, absolute);
      width: 32%;
      margin-left: -16%;
    }
    i {
      @include abs-pos(0.5rem, 0.5rem, auto, auto, 99999, absolute);
      font-size: 0.6rem;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      color: $gray;
      border-radius: 1.5rem;
      color: $white;
      background: darken($purple,5%);
    }
  }
  p {
    @include dib;
    width: 90%;
    height: 3rem;
    line-height: 3rem;
    border-bottom: solid 1px $gray-lighter;
    margin: 0 5%;
    font-size: $font-size-h5;
    font-weight: lighter;
    text-align: left;
    color: $gray;
  }
  a {
    @include abs-pos(auto, auto, 0, 0, 99999, absolute);
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    color: $blue;
    font-size: $font-size-lg;
  }
}
