div.scott {
  width: 94%;
  padding: 0 3%;
  margin: 0 0 20px 0;
  text-align: center;
}
div.scott a {
  margin-right: 5px;
  padding: 2px 5px;
  text-decoration: none;
  color: #777;
  border: #bebebe 1px solid;
  background: #eaeaea;
}
div.scott a:hover {
  color: #2ca9e1;
  border: #2ca9e1 1px solid;
  background: #fff;
}
div.scott a:active {
  color: #2ca9e1;
  border: #2ca9e1 1px solid;
  background: #fff;
}
div.scott span.current {
  font-weight: bold;
  margin-right: 5px;
  padding: 2px 5px;
  color: #2ca9e1;
  border: #2ca9e1 1px solid;
  background: #fff;
}
div.scott span.disabled {
  margin-right: 5px;
  padding: 2px 5px;
  color: #ccc;
  border: #bebebe 1px solid;
}
