ul.step {
  counter-reset: flag;
  clear: both;
  box-sizing: border-box;
  width: 76%;
  margin-top: 15px;
  padding-left: 0;
  margin: 0 auto;
  list-style: none;
  font-size: $font-size-base;
  text-align: center;
  li {
    position: relative;
    display: table-cell;
    float: none;
    width: 1%;
    &.active a:after,
    &.active a:before {
      background: #67ce77;
    }
    &.error a:after,
    &.error a:before {
      background: $gray-light;
    }
    &:first-child a:after {
      left: 30%;
      border-radius: 5px 0 0 5px;
    }
    &:last-child a:after {
      right: 30%;
      border-radius: 0 5px 5px 0;
    }
    a {
      cursor: pointer;
      line-height: 0;
      color: $green;
      &:before {
        @include abs-pos(-3px, 0, auto, 0, 2, absolute);
        content: "";
        // content: counter(flag);
        // counter-increment: flag;
        margin: 0 auto;
        width: 18px;
        height: 18px;
        line-height: 18px;
        border-radius: 50%;
        background: $gray-lighter;
        color: $white;
      }
      &:after {
        @include abs-pos(-70%, 0, auto, 0, 1, absolute);
        background: $green;
        height: 6px;
      }
    }
  }
}
