.table {
  display: table;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    th {
      vertical-align: bottom;
    }
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    td,
    th {
      text-align: left;
      vertical-align: top;
    }
  }
}
