// 引导页
.guide_nav {
  height: 100%;
  background: $background-gradual;
  div {
    @include dib;
    width: 100%;
    height: 32rem;
    background-size: 85%;
  }
  p {
    @include dib;
    width: 100%;
    height: 8rem;
    font-size: $font-size-h5;
    font-weight: lighter;
    color: $white;
    text-indent: 20px;
    text-align: center;
  }
  a {
    @include dib;
    margin: 0 auto;
    padding: 0.75rem 3rem;
    border: solid 1px $white;
    border-radius: $spacing-double;
    font-size: $font-size-h5;
    font-weight: lighter;
    color: $white;
    &:hover {
      background: rgba($white, .2);
    }
  }
  span {
    @include dib;
    margin: 0 auto;
    font-weight: lighter;
    color: $white;
  }
}
