// 成绩
.record_nav {
  padding-bottom: 5rem;
  background: $white;
  .tit {
    @include dib;
    width: 100%;
    height: 4rem;
    padding-top: 2rem;
    line-height: 1.5rem;
    color: #546171;
    background-size: 100%;
    strong {
      @include dib;
      width: 100%;
      font-size: $font-size-h4;
      margin-right: 0.2rem;
    }
    span {
      @include dib;
      width: 100%;
      font-size: $font-size-sm;
      margin-right: 0.2rem;
    }
  }
  ul {
    @include dib;
    margin: 0 auto;
    width: 86%;
    li {
      @include minHeight(2.5rem);
      line-height: 2.5em;
      font-size: $font-size-sm;
      text-align: left;
      border-bottom: solid 1px lighten($gray-lighter, 10%);
      color: $gray;
      position: relative;
      img {
        @include dib;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem 0.5rem 0 0;
      }
      s {
        text-decoration: none;
        color: $orange;
      }
      a {
        @include abs-pos(0, 0, auto, auto, 2, absolute);
        display: block;
        height: 2.5rem;
        color: $gray-light;
      }
    }
  }
}

.analyze_nav {
  @include dib;
  height: 80%; // padding-bottom: 2rem;
  .marks {
    @include dib;
    width: 50%;
    height: 75%;
    padding: 25% 20% 0 30%;
    background-size: 90%;
    .user {
      @include dib;
      width: 100%;
      font-size: 0;
      text-align: left;
      img {
        @include dib;
        $width: 45%;
        width: $width;
        height: $width;
        border-radius: 50%;
      }
      div {
        @include dib;
        width: 55%;
        margin-top: 2rem;
        font-size: $font-size-sm;
        span {
          @include dib;
          @include ell;
          width: 90%;
          text-indent: 0.5rem;
          height: 1.2rem;
          color: lighten($gray, 20%);
        }
      }
    }
    .mark {
      @include dib;
      width: 100%;
      font-size: $font-size-h4;
      font-weight: bold;
      color: $gray-dark;
      text-indent: -2rem;
      strong {
        font-size: $font-size-h1 * 2;
      }
    }
    @media screen and (max-width: 414px) {
      .mark {
        height: 6.5rem;
        line-height: 7.2rem;
      }
    }
    @media screen and (max-width: 375px) {
      .mark {
        height: 6rem;
        line-height: 6.5rem;
      }
    }
    @media screen and (max-width: 320px) {
      .mark {
        height: 5.2rem;
        line-height: 5.5rem;
      }
    }
    .time {
      @include dib;
      width: 100%;
      height: 2.5rem;
      line-height: 1.3rem;
      text-indent: -1rem;
      color: $gray;
      strong {
        @include dib;
        width: 100%;
        text-indent: -1rem;
        font-weight: lighter;
      }
      span {
        @include dib;
        width: 100%;
        font-size: 0.8rem;
        text-indent: -2rem;
        color: $gray-light;
        font-weight: lighter;
      }
    }
    a {
      @include dib;
      padding: 0.2rem 1rem;
      border-radius: 0.7rem;
      font-size: $font-size-sm;
      color: $white;
      font-weight: lighter;
      background: #ff9600;
    }
    @media screen and (max-width: 414px) {
      a {
        margin: 10% 0 0 -2rem;
      }
    }
    @media screen and (max-width: 375px) {
      a {
        margin: 8% 0 0 -2rem;
      }
    }
    @media screen and (max-width: 320px) {
      a {
        margin: 5% 0 0 -2rem;
      }
    }
    .top {
      @include dib;
      width: 100%;
      height: 2.5rem;
      line-height: 1.3rem;
      text-indent: -2rem;
      font-size: 1.3rem;
      color: $gray;
      span {
        font-size: 0.9rem;
      }
    }
    @media screen and (max-width: 414px) {
      .top {
        margin-top: 6.2rem;
      }
    }
    @media screen and (max-width: 375px) {
      .top {
        margin-top: 5.4rem;
      }
    }
    @media screen and (max-width: 320px) {
      .top {
        margin-top: 4.2rem;
      }
    }
  }
}

// 历史成绩
.history_nav {
  position: relative;
  height: 100%;
  img {
    @include abs-pos(3rem, auto, auto, 50%, 2, fixed);
    margin: 0 0 0 -35%;
    width: 70%;
  }
  #main {
    @include abs-pos(auto, auto, 5rem, 0, 2, absolute);
    width: 100%;
    height: 60%;
  }
  .link {
    @include abs-pos(auto, auto, 20%, 0, 3, absolute);
    $width: 100%;
    width: $width;
    font-size: 0;
    a {
      @include dib;
      width: $width / 3;
      font-size: $font-size-xs;
      color: $gray;
    }
  }
}

// 排行榜
.rank_nav {
  dl {
    @include dib;
    width: 90%;
    margin: 1rem auto;
    dt {
      @include dib;
      width: 100%;
      font-size: 0;
      span {
        @include dib;
        width: 25%;
        font-size: $font-size-sm;
        color: $gray-dark;
        &:nth-child(1) {
          width: 50%;
          text-align: left;
        }
      }
    }
    dd {
      @include dib;
      width: 100%;
      height: 3rem;
      padding: 0.7rem 0;
      font-size: 0;
      border-bottom: solid 1px $gray-lighter;
      &:nth-child(2) s {
        background: $red !important;
      }
      &:nth-child(3) s,
      &:nth-child(4) s {
        background: $orange !important;
      }
      .head {
        @include dib;
        width: 50%;
        font-size: 0;
        text-align: left;
        position: relative;
        s {
          @include abs-pos(0, auto, auto, 0, 3, absolute);
          width: 1.2rem;
          height: 1.2rem;
          line-height: 1.2rem;
          border-radius: 50%;
          font-size: $font-size-sm / 2;
          text-decoration: none;
          text-align: center;
          background: $gray-light;
          color: $white;
        }
        img {
          @include dib;
          $width: 30%;
          width: $width;
          height: $width;
          border-radius: 50%;
        }
        div {
          @include dib;
          width: 70%;
          height: 100%;
          font-size: $font-size-sm;
          strong,
          span {
            @include dib;
            @include ell;
            width: 90%;
            line-height: 1.5rem;
            text-indent: 0.5rem;
            color: $gray;
          }
          span {
            color: lighten($gray, 20%);
          }
        }
      }
      p {
        @include dib;
        @include ell;
        width: 25%;
        height: 100%;
        line-height: 3rem;
        font-size: $font-size-sm;
        color: lighten($gray, 20%);
      }
    }
  }
  dl.rank_self {
    margin: 2rem 0 0 0;
    padding: 1rem 0.5rem;
    border: dashed 1px $blue;
    border-radius: 1rem;
    background: $purple;
    dd {
      border: 0;
      position: relative;
      .tit {
        @include abs-pos(-2rem, auto, auto, 50%, 3, absolute);
        width: 40%;
        margin-left: -20%;
      }
    }
  }
}

// 底部按钮
.but_b,
.but_l,
.but_r {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

.but_b {
  @include abs-pos(auto, auto, 0, 0, 3, fixed);
  width: 100%;
  background: $orange;
  color: $white;
}

.but_l {
  @include abs-pos(auto, auto, 0, 0, 3, fixed);
  width: 50%;
  background: $orange;
  color: $white;
}

.but_r {
  @include abs-pos(auto, 0, 0, auto, 3, fixed);
  width: 50%;
  background: $blue;
  color: $white;
}

.multi {
  line-height: 2.2rem!important;
}

.multi s {
  display: block;
  font-size: $font-size-xs;
  text-decoration: none;
  font-weight: lighter;
  line-height: 0em!important;
}