// 综合测评
.top_nav {
  height: 10em;
  padding: 4em 0;
  position: relative;
  background: url("../img/erya_index_01.png") no-repeat left bottom, -webkit-linear-gradient(#86b8eb, #0633f3);
  background-size: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  strong {
    display: block;
    font-family: "Helvetica Neue", STHeiti, Droid Sans, "Microsoft YaHei", Helvetica;
    color: #fff;
    font-size: 1em;
    font-weight: lighter;
    s {
      text-decoration: none;
      font-size: 3.5em;
    }
  }
  span {
    display: block;
    font-size: 0.8em;
    margin: 0 auto;
    width: 7em;
    padding: 3px 10px;
    color: #b7d1fb;
    border: 1px solid #fff;
    border-radius: 3em;
  }
  ul {
    display: block;
    float: left;
    width: 50%;
    margin-top: 2em;
    font-size: 0.9em;
    font-weight: lighter;
    color: #fff;
    & > li:first-child {
      font-size: 1.4em;
    }
  }
  a {
    position: absolute;
    left: 10%;
    bottom: -1.5em;
    display: block;
    width: 80%;
    height: 3em;
    line-height: 3em;
    background: #fff;
    border-radius: 3em;
    color: #3980f4;
    -webkit-box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
    box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  }
}
.center_nav.default_nav {
  width: 94%;
  margin: 0 3%;
  -webkit-box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  .index_title {
    width: 100%;
    height: 4.5em;
    line-height: 6em;
    padding: 0;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #f3f3f3;
    strong {
      display: block;
      float: left;
      text-align: left;
      font-weight: normal;
      text-indent: 1em;
      color: #666;
    }
    a {
      display: block;
      height: 100%;
      padding: 0 1em;
      font-size: 0.9em;
      color: #999;
      &.current {
        color: #357ef5;
      }
    }
    span {
      color: #666;
    }
  }
  .index_list {
    background: $white;
    li {
      display: block;
      width: 94%;
      height: 6.5em;
      line-height: 1em;
      margin: 0 3%;
      text-align: left;
      text-indent: 0;
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      color: #a1a1a1;
      &.more {
        height: 6em;
        border: none;
        line-height: 2.5em;
        a {
          float: none;
          display: block;
          margin: 1em auto 0;
          width: 60%;
          height: 2em;
          line-height: 2em;
          background: #fff;
          border: 1px solid #3598fe;
          border-radius: 3em;
          color: #3598fe;
          text-align: center;
          font-size: 1em;
        }
        span {
          display: block;
          width: 100%;
          font-size: 0.9em;
          text-align: center;
          color: #acacac;
        }
      }
      div {
        float: left;
        margin: 0.75em 0.5em;
        width: 35%;
        height: 5em;
        border-radius: 3px;
        background-size: 3.5em 3.5em;
        background-image: url("../img/no_image_1.jpg");
        background-repeat: no-repeat;
      }
      img {
        width: 100%;
        height: 5em;
        border-radius: 3px;
      }
      dl {
        float: left;
        width: 49%;
        margin: 0.5em auto;
        color: #999;
        dt {
          display: block;
          width: 95%;
          font-size: 0.9em;
          line-height: 2em;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        dd {
          display: block;
          width: 95%;
          font-size: 0.9em;
          line-height: 2em;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      a {
        margin: 3em 0;
        border-radius: 1em;
        font-size: 0.8em;
      }
    }
  }
}
// 答题
.gray {
  background: #bbb !important;
}
