//////////////////////////////////
// Colors
//////////////////////////////////
// Start with assigning color names to specific hex values.
$white: #ffffff !default;
$black: #000000 !default;
$green: #56be47 !default;
$red: #fb531f !default;
$orange: #ff9600 !default;
$blue: #1b80f1 !default;
$purple: #bce0ff !default;
// Create grayscale
$gray-dark: #343434 !default;
$gray: #666666 !default;
$gray-light: #cccccc !default;
$gray-lighter: #dddddd !default;
// Background
$background-gradual: -webkit-linear-gradient(#86b8eb, #3b83d0);

//////////////////////////////////
// Fonts
//////////////////////////////////
// Font, line-height, and color for body text, headings, and more.
$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
// Font Family
$sans-serif: 'Roboto', sans-serif;
$serif: 'Microsoft YaHei', Helvetica;
// Spacing
$spacing-small: 0.75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;
