//////////////////////////////////
// Border Radius
//////////////////////////////////
// .box {
//     @include border-radius(10px);
// }
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

//////////////////////////////////
// Position
//////////////////////////////////
// .abs {
//     @include abs-pos(10px, 10px, 5px, 15px);
// }
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto, $index: 99999, $pos: absolute) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $index;
  position: $pos;
}

//////////////////////////////////
// Rem
//////////////////////////////////
// p {
//     @include font-size(14px)
// }
@function calculateRem($size: 16) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//////////////////////////////////
// When Inside
//////////////////////////////////
// .foo {
//     @include when-inside('.active') {
//         animation: fadeIn 0.3s 1s forwards;
//     }
// }
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

//////////////////////////////////
// Long Shadow
//////////////////////////////////
// h1 {
//     @include longshadow(darken($color, 5%));
// }
@function makelongshadow($color) {
  $val: 0 0 $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}
@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}

//////////////////////////////////
// Rotate
//////////////////////////////////
// .element {
//     @include transform(rotate(42deg));
// }
@mixin transform($value) {
   @include prefix(transform, $value, webkit ms);
}

//////////////////////////////////
// Opacity
//////////////////////////////////
// .faded-text {
//     @include opacity(0.8);
// }
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//////////////////////////////////
// Clearfix
//////////////////////////////////
@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}

//////////////////////////////////
// inline-block
//////////////////////////////////
@mixin dib() {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

//////////////////////////////////
// minHeight
//////////////////////////////////
@mixin minHeight($min-height) {
  min-height: $min-height;
  height: auto !important;
  height: $min-height;
}

//////////////////////////////////
// textShadow
//////////////////////////////////
@mixin textShadow($color,$size) {
  text-shadow: $color #{$size}px 0 0,$color 0 #{$size}px 0,$color -#{$size}px 0 0,$color 0 -#{$size}px 0;
  -webkit-text-shadow: $color #{$size}px 0 0,$color 0 #{$size}px 0,$color -#{$size}px 0 0,$color 0 -#{$size}px 0;
  -moz-text-shadow: $color #{$size}px 0 0,$color 0 #{$size}px 0,$color -#{$size}px 0 0,$color 0 -#{$size}px 0;
  *filter: Glow(color=$color, strength=#{$size});
}

//////////////////////////////////
// boxShadow
//////////////////////////////////
@mixin boxShadow($size,$color) {
  -webkit-box-shadow: 0 0 $size $color;
  -moz-box-shadow: 0 0 $size $color;
  box-shadow: 0 0 $size $color;
}

//////////////////////////////////
// ellipsis
//////////////////////////////////
@mixin ell() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//////////////////////////////////
// noSelect
//////////////////////////////////
@mixin noSelect() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

@mixin rotate($num) {
  -webkit-transform: rotate(#{$num}deg);
  -moz-transform: rotate(#{$num}deg);
  -ms-transform: rotate(#{$num}deg);
  -o-transform: rotate(#{$num}deg);
  transform: rotate(#{$num}deg);
}
